/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  min-width: 0px;
  min-height: 0px;
}

html {
  font-size: clamp(14px, 12px + 0.5vw, 18px);
  scroll-behavior: smooth;
}

/* BREAKPOINTS */
/* VARIABLES */
:root {
  --color-fondo: #0b0b1f;
  --color-superficie: #1d1a2a;
  --color-primario: #39ff88;
  --color-secundario: #8b5cf6;
  --color-texto: #fffb;
  --color-enfasis: #f00a;
  --color-hero: #1d0f26;
  --radius-small: 0.5rem;
  --radius-medium: 1.25rem;
  --radius-big: 2rem;
  --borde-primario: 0.1rem solid var(--color-primario);
  --seccion-borde: 1px #fff5 solid;
}

/* GLOBAL */
h2 {
  font-size: 2rem;
  font-weight: normal;
}

/* BASE */
body {
  font-family: Raleway, Arial, sans-serif;
  background: var(--color-fondo);
  color: var(--color-texto);
  margin: 0;
  background-image: url("../img/fondo.png");
  background-size: 10rem;
}

.seccion {
  display: grid;
  width: 100%;
  gap: 1rem;
  place-items: center;
  padding: 2.5rem 1.25rem;
}

/* SECCIONES */
.seccion__titulo {
  text-align: center;
}

.header {
  display: flex;
  background: var(--color-superficie);
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5%;
}
.header__logo {
  width: 7.5rem;
}
.header__nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 1.25rem;
}
@media (max-width: 426px) {
  .header__nav {
    place-self: end;
    display: inline-flex;
    flex-direction: column;
    gap: 0.2rem;
    text-align: right;
  }
}
.header__link {
  color: var(--color-texto);
  text-decoration: none;
  font-weight: bold;
}
.header__link:hover {
  color: var(--color-primario);
}

.hero {
  background: var(--color-hero);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  border-top: var(--seccion-borde);
  border-bottom: var(--seccion-borde);
  gap: 2rem;
}
.hero__content {
  justify-self: end;
  color: white;
  display: grid;
  gap: 1rem;
  justify-items: start;
}
@media (max-width: 426px) {
  .hero__content {
    justify-self: center;
  }
}
.hero__imagen {
  justify-self: start;
}
@media (max-width: 426px) {
  .hero__imagen {
    display: none;
  }
}
.hero__titulo {
  font-size: 3rem;
}
.hero__anio {
  font-size: 1.5rem;
  background: var(--color-secundario);
  padding: 0.25rem 1.4rem;
  border: 3px rgba(255, 255, 255, 0.4) solid;
  border-radius: var(--radius-medium);
}
.hero__destacado--1 {
  color: var(--color-primario);
  font-weight: bold;
}
.hero__cta {
  background: var(--color-enfasis);
  padding: 0.5rem 2rem;
  border-radius: var(--radius-big);
  font-size: 1rem;
  font-weight: bold;
  border: 2px white solid;
}
.hero__tickets {
  display: grid;
  list-style-position: inside;
  list-style-type: circle;
  gap: 0.5rem;
  font-style: italic;
}
@media (max-width: 426px) {
  .hero {
    gap: 2rem;
    justify-items: center;
    grid-template-columns: 1fr;
  }
}

.pilares {
  display: grid;
  justify-content: center;
  justify-items: stretch;
  align-items: stretch;
  margin: auto;
  max-width: 60rem;
  grid-template-columns: repeat(3, 1fr);
}
.pilares .seccion__titulo {
  grid-column: span 3;
}
.pilares__card {
  display: grid;
  align-content: start;
  gap: 0.5rem;
  background: var(--color-superficie);
  padding: 1.5rem;
  border-radius: var(--radius-medium);
  text-align: left;
  border: var(--borde-primario);
}
.pilares__card-img {
  width: 4rem;
}
.pilares__card-titulo {
  color: var(--color-primario);
  font-weight: bold;
  padding: 1rem 0;
}
@media (max-width: 426px) {
  .pilares {
    grid-template-columns: 1fr;
  }
  .pilares .seccion__titulo {
    grid-column: span 1;
  }
}

.slider {
  display: grid;
  gap: 3rem;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-top: var(--seccion-borde);
  border-bottom: var(--seccion-borde);
  background: var(--color-fondo);
}
.slider__track {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  width: 100%;
  overflow-x: hidden;
}
.slider__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  grid-template-areas: "img title" "img text";
}
@media (max-width: 426px) {
  .slider__card {
    grid-template-columns: 1fr;
    grid-template-areas: "img" "title" "text";
  }
}
.slider__imagen {
  width: 12rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  grid-area: img;
  border: 10px var(--color-superficie) solid;
  justify-self: end;
  align-self: center;
}
@media (max-width: 426px) {
  .slider__imagen {
    justify-self: center;
  }
}
.slider__titulo {
  justify-self: start;
  align-self: end;
  color: var(--color-primario);
  font-size: 4rem;
  grid-area: title;
}
@media (max-width: 426px) {
  .slider__titulo {
    justify-self: center;
  }
}
.slider__texto {
  align-self: start;
  grid-area: text;
}
@media (max-width: 426px) {
  .slider__texto {
    justify-self: center;
  }
}
.slider__botones {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
  z-index: 10;
}
.slider__btn {
  background: var(--color-primario);
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
}
.slider__controls {
  position: absolute;
  bottom: 0.75rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  opacity: 0.9;
}
.slider__dot {
  width: 0.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5333333333);
  transition: background 0.3s;
}
.slider__dot--active {
  background: var(--color-primario);
}

.formulario {
  display: grid;
}
.formulario__form {
  width: 100%;
  max-width: 40rem;
  display: grid;
  gap: 2rem 1rem;
  grid-template-columns: 1fr 1fr;
  background: var(--color-superficie);
  padding: 1.25rem;
  border-radius: var(--radius-medium);
  border: var(--borde-primario);
}
@media (max-width: 426px) {
  .formulario__form {
    grid-template-columns: 1fr;
  }
}
.formulario__campo {
  display: grid;
  gap: 0.5rem;
}
.formulario__input {
  padding: 0.75rem;
  border-radius: var(--radius-small);
  font-family: inherit;
  font-weight: bold;
  background: var(--color-primario);
}
.formulario__input:focus {
  outline: var(--borde-primario);
}
.formulario__boton {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: var(--radius-big);
  font-weight: bold;
  background: linear-gradient(90deg, var(--color-secundario), var(--color-primario));
  color: black;
  cursor: pointer;
  grid-column: span 2;
}
.formulario__boton:hover {
  opacity: 0.9;
}
@media (max-width: 426px) {
  .formulario__boton {
    grid-column: span 1;
  }
}

.relatores__contenedor {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1025px) {
  .relatores__contenedor {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 769px) {
  .relatores__contenedor {
    grid-template-columns: repeat(1, 1fr);
  }
}
.relatores__tarjeta {
  display: grid;
  grid-template-areas: "foto datos" "foto rrss";
  grid-template-columns: auto 1fr;
  gap: 1rem;
}
@media (max-width: 426px) {
  .relatores__tarjeta {
    grid-template-areas: "foto" "datos" "rrss";
    grid-template-columns: 1fr;
  }
}
.relatores__foto {
  grid-area: foto;
  width: 12rem;
  height: 16rem;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: var(--radius-small);
}
.relatores__datos {
  grid-area: datos;
  display: grid;
  gap: 1rem;
  height: 100%;
}
.relatores__dato {
  font-size: 0.8rem;
}
.relatores__curriculum {
  list-style-type: none;
  display: grid;
  gap: 0.5rem;
}
.relatores__rrss-link {
  grid-area: rrss;
  align-self: end;
}
.relatores__rrss-img {
  border-radius: var(--radius-small);
  width: 2rem;
}

.footer {
  border-top: var(--seccion-borde);
  display: grid;
  gap: 0.5rem;
  background: var(--color-superficie);
  text-align: center;
  padding: 1.25rem;
}
.footer__link {
  color: var(--color-primario);
  text-decoration: none;
}

/*# sourceMappingURL=index.css.map */
