@use "../base/variables";

.pilares {
    display: grid;
    justify-content: center;
    justify-items: stretch;
    align-items: stretch;
    margin: auto;
    max-width: 60rem;
    grid-template-columns: repeat(3, 1fr);

    .seccion__titulo {
        grid-column: span 3;
    }

    &__card {
        display: grid;
        align-content: start;
        gap: 0.5rem;
        background: var(--color-superficie);
        padding: 1.5rem;
        border-radius: var(--radius-medium);
        text-align: left;
        border: var(--borde-primario);
    }

    &__card-img {
        width: 4rem;
    }

    &__card-titulo {
        color: var(--color-primario);
        font-weight: bold;
        padding: 1rem 0;
    }

    @media (max-width: variables.$breakpoint-mobile) {
        grid-template-columns: 1fr;

        .seccion__titulo {
            grid-column: span 1;
        }
    }
}